node_modules
npm-debug.log
.DS_Store
.git
.gitignore
.env
.env.local
.env.*.local
.vscode
.idea
dist
build
coverage
.nyc_output
*.log
.next
out
.nuxt
dist
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env.test
.env.production
logs/
