.sidebar {
  width: 19px;
  background-color: #004d40;
  color: white;
  height: 200vh;
  padding: 165px;
  position: fixed;
  top: 68px; /* below navbar */
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

/* Hidden state */
.sidebar.closed {
  transform: translateX(-160px);
}

/* Visible state */
.sidebar.open {
  transform: translateX(0);
}

/* Title */
.sidebar-title {
    text-align: center;
  color: #80cbc4;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 1000;
}

/* Links list */
.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list li {
  margin-left: 20px;
  margin-bottom: 15px;
}

/* Link style */
.sidebar-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s ease;
}

.sidebar-link:hover {
  color: #b2dfdb;
  padding-left: 4px;
}
