.register-page {
  background-color: #f9f9f9;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: #ebe2f1;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.register-container h1 {
  text-align: center;
  color: #551080;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.register-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #6a1b9a;
  border-radius: 6px;
  font-size: 1rem;
}

.register-container button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color:#6a1b9a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #704a88;
}